<div class="top-bar">
<div class="container-d">
  <div><p class="site-name">VETRA</p>
  </div>
   <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-container">
    <div class="search-input-wrapper">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search" formControlName="search"/>
    </div>
    <button type="submit" class="search-button">Search</button>
  </form>
  

  <div class="header-right">
    <!-- Shopping Cart as Button -->
    <button class="cart-button" (click)="reDirect('/cart')">
      <div class="cart-icon-wrapper">
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
        <span class="cart-badge">{{cartItemsCount}}</span>
      </div>
      <div class="cart-text">
        <p class="cart-label">Shopping cart:</p>
        <p class="cart-total">{{ cartTotalPrice | currency:'USD':'code' }}</p>
      </div>
    </button>

    <!-- Sign In / Up -->
    @if (user()) {
        <button class="profile-button">{{user()?.username}}</button>
    }
    @else {
        <div class="sign">
        <button class="sign-button" (click)="reDirect('/sign-in')">Sign In</button>
        <p style="color: rgb(164, 164, 164); margin: 0 6px;">/</p>
        <button class="sign-button" (click)="reDirect('/sign-up')">Sign Up</button>
        </div>
    }
    
  </div>
</div>
  <div class="navigation-bar">
    <button class="navigation-button" (click)="reDirect('/')">Home</button>
    <button class="navigation-button" (click)="reDirect('/Categories')">Categories</button>
  </div>
</div>

