<div class="register-page">
<div class="container">
<form [formGroup]="registerForm" class="register-form">
    <p class="sign-up-text">Sign Up</p>
    
    <input type="text" formControlName="username" name="username" placeholder="Username"
           [ngClass]="{'ng-invalid': hasUsernameInvalidError()}"/>
    
    @if (hasUsernameInvalidError()){
      <span class="error-text">Username can only contain letters, numbers, underscores, and hyphens.</span>
    }
    
    <input type="password" formControlName="password" name="password" placeholder="Password"
           [ngClass]="{'ng-invalid': hasAnyPasswordError()}"/>
    <!-- mark input as invalid if it password mismatch exists -->

    @if (hasPasswordWeakError()){
      <span class="error-text">Your password must have lower case, upper case and numeric characters and minimum of 6 characters.</span>
    }
      
    <input type="password" formControlName="repeated_password" name="repeated_password" placeholder="Repeat Password"
           [ngClass]="{'ng-invalid': hasAnyPasswordError()}"/>
    <!-- mark input as invalid if it password mismatch exists -->

    @if (hasPasswordMismatchError()){
      <span class="error-text">Passwords do not match</span>
    }

    <button type="submit" class="sign-up-button" (click)="onSignup()" [disabled]="!registerForm.valid">Register</button>
</form>
</div>
</div>