.profile-page {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;  /* set align-self on each children, related to vertical alignment */
  min-height: calc(100vh - 150px); 
  background-color: #f5f5f5;
  border: #009900;
}

.change-password-text{
    font-weight: 500;
    font-size: 18px;
}

.change-password-form{
  justify-content: start;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.change-password-form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    
    /* for scaling */
    min-width: 0;        /* Allow inputs to shrink below their content width */
    width: 100%;         /* Ensure they fill their container */
    box-sizing: border-box; /* Include padding in width calculation */
}

.password-row {
  display: flex;      
  gap: 10px;
}

.password-row-input {
  display: flex;       
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* A block-level element is an HTML element that takes up the
 full width of its container and creates a new line (line break) before and after it.*/
/* Block-level = "I want the whole width" */
/* Inline = "I only need as much space as my content" */
.change-password-button{
    background-color: #00b300;
    color: white;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer; 

    /* for scaling */
    align-self: flex-start;  /* shrink to fit the content instead of covering all*/
}

.change-password-button:hover{
    background-color: #009900;
}

.change-password-button:disabled {
    background-color: gray;      /* dim the color */
    cursor: not-allowed;         /* shows a "not allowed" cursor */
    opacity: 0.6;                /* make it look inactive */
}

.error-text {
  color: #e74c3c;              /* a nice deep red */
  font-size: 0.85rem;          /* slightly smaller than body text */
  font-style: italic;          /* give it a little emphasis */
  display: block;              /* force it onto its own line */
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c;       /* highlight the input itself when invalid */
  box-shadow: 0 0 0 1px #e74c3c;
}

.input-label {
  margin-left: 0.1rem;
}

.log-out-button{
    background-color: #00b300;
    color: white;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer; 
    align-self: center;
    margin-top: 1em;
}

.log-out-button :hover{
    background-color: #009900;
}